#dom-node {
  width: 100px;
  height: 100px;
}
.with-background {
  background: url(/test/resources/images/image.jpeg) no-repeat left top;
  background-size: 100px 100px;
  width: 100px;
  height: 100px;
}
